OPEN5GS_VERSION=v2.7.1
OPEN5GS_MBS_VERSION=v2.7.1-mbs
SRSRAN_MBS_VERSION=test-mbs
UBUNTU_VERSION=jammy
MONGODB_VERSION=6.0
NODE_VERSION=20

# directory with the open5gs and srsran repositories
COMPILE_PATH=/home/<your_user>/Developer

# These deployments should work:
#     internalmbstf-> UE and gNB have a diferent bridge. Allows using the mbstf
# These deployemnts might not work or are there for debugging purposes:
#     internal-> gNB and UE in the same docker compose deployment
#     gnuradio-> gnuradio splits traffic between gNB and two UEs
#     external-> gNB and UE not in the same docker compose deployment
#     gnbcore-> gNB and core in one host, for deployment with USRPs
#     ue-> only UE, for deployment with USRPs
#     gnbcorezmq-> gNB and core in one host, for deployment with ZMQ
#     unicastinternal-> for unicast deployment, everything in one host
#     unicastgnbcore-> for unicast deployment with USRPs, gNB and core in one host.
#     unicastue-> for unicast deployment with USRPs, only UE
COMPOSE_DEPLOYMENT=internalmbstf

# TRUE: doesnt start mb-smf, mb-gnb-dev and mb-ue-dev main process
# FALSE: starts mb-smf, mb-gnb-dev and mb-ue-dev main process
# you can also modify it directly in the docker-compose.yaml
ENABLE_GDB=FALSE

# host ip. For deployments that need to expose services in the host
DOCKER_HOST_IP=<your_ip>
